/RssClientByKotlin/.idea
/RssClientByKotlin/.idea/runConfigurations.xml
/RssClientByKotlin/.idea/vcs.xml
/RssClientByKotlin/.idea/workspace.xml
/RssClientByKotlin/.idea/caches
/RssClientByKotlin/.idea/codeStyles
/RssClientByKotlin/.idea/libraries
/RssClientByKotlin/.idea/gradle.xml
/RssClientByKotlin/.idea/misc.xml
/RssClientByKotlin/.idea/modules.xml
