/RssClientByKotlin/.idea
/RssClientByKotlin/.idea/runConfigurations.xml
/RssClientByKotlin/.idea/vcs.xml
/RssClientByKotlin/.idea/workspace.xml
/RssClientByKotlin/.idea/caches
/RssClientByKotlin/.idea/codeStyles
/RssClientByKotlin/.idea/libraries
/RssClientByKotlin/.idea/gradle.xml
/RssClientByKotlin/.idea/misc.xml
/RssClientByKotlin/.idea/modules.xml
/RssClientByXamarin/iOS/obj
/RssClientByXamarin/iOS/bin
/RssClientByXamarin/packages
/RssClientByXamarin/iOS/iOS.csproj.user
/RssClientByXamarin/*.user
/RssClientByXamarin/Api/obj
/RssClientByXamarin/Api/bin
/RssClientByXamarin/Repository/obj
/RssClientByXamarin/Repository/bin
