<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppCenter.Analytics.Metrics" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Autofac" version="4.8.1" targetFramework="xamarinios10" />
  <package id="Fody" version="3.3.5" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Microsoft.AppCenter" version="1.12.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="1.12.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="1.12.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.Share" version="7.1.1" targetFramework="xamarinios10" />
  <package id="Realm" version="3.4.0" targetFramework="xamarinios10" />
  <package id="Realm.Database" version="3.4.0" targetFramework="xamarinios10" />
  <package id="Realm.DataBinding" version="1.2.0" targetFramework="xamarinios10" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="xamarinios10" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.TypeExtensions" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinios10" />
  <package id="System.ServiceModel.Syndication" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.IQKeyboardManager" version="1.4.1" targetFramework="xamarinios10" />
  <package id="Xamarin.SDWebImage" version="4.4.0" targetFramework="xamarinios10" />
</packages>